.results__container {
    max-width: 705px;
    display: block;
    margin: 0 auto;
    text-align: left;
    /* position: relative; */
}

.results__item--container {
    align-items: center;
    display: flex;
    height: 3.8125rem;
    border-bottom: 2px solid transparent;
}

.results__item--container .resultCategory,
.results__item--container .resultValue {
    margin-bottom: 0 !important;
}


.resultCategory {
    min-width: 10rem;
    padding-left: 1.00rem;
    height: inherit;
    display: flex;
    align-items: center;
    background-color: #343C41;
}

.votebar {
    height: inherit;
    display: flex;
    align-items: center;
    position: relative;
}

#opta.votebar {
    background-color: #0064FF;
}

#optb.votebar {
    background-color: #001689;
}

#optc.votebar {
    background-color: #0064FF;
}

#optd.votebar {
    background-color: #001689;
}

.resultValue {
    position: absolute;
    right: 1rem;
}

.finish__link {
    display: flex;
    align-items: center;
    width: 9rem;
    min-width: 9rem;
    height: 3rem;
    padding-left: 1.75rem;
    margin-top: 1rem;
}

.results__container {
    margin-right: auto;
    padding: 1rem;
}

.diagram__image {
    width: 75%;
    margin-bottom: 1rem;
}

@media (min-width: 1220px) {
    .results__container {
        margin-right: 500px;
    }
}

@media (min-width: 1680px) {
    .results__container {
        margin-right: auto;
    }
}
